// app global css in SCSS form

* {
  font-family: notoserief;
}
.background_color {
  background: #1e1916; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e7e9bb,
    #4e4945,
    #1e1916
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e7e9bb,
    #4e4945,
    #1e1916
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  // padding-right: 15px;
  // padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.whatsapp {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
